

body {
  //visibility: hidden;
  min-height: 100%;
  padding: 0;
  padding-top: 50px;
  margin: 0;
  position: relative;

  overflow-x: hidden;
  overflow-y: auto;
  background: image_url("goats.jpg") center;
  h1 {
    font-size: 1em;
    font-weight: 200;
  }
}

.main-container {
  h1 {
    font-size: 6em;
    font-wieght: 900;
  }
  background:#ffdaff;
  background-image:none;
  padding: 2em;
}
