// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  h1 {
    font-size: 6em;
    font-wieght: 900;
  }
  background:#ffdaff;
  background-image:none;
  padding: 2em;
}
